/* *{
    caret-color: var(--brand-2);
} */

/* ::selection {
    background:rgba(0,170,144, .5); 
    color:#555;
} */
body {
    margin: 0 !important;
}

.ant-layout {
    background-color: rgba(169, 180, 202);
}

*:focus-visible {
    outline: none !important;
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.react-grid-item.react-grid-placeholder {
    background-color: #00aa90 !important;
}




.react-grid-item .ant-table-wrapper {
    height: 0;
}

.componentContainer {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.editable-cell-value-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 指定显示的行数 */
    overflow: hidden;
    text-overflow: ellipsis;
}